{% extends 'base.html' %}

{% block title %}
    <title>Edit Post</title>
{% endblock %}

{% block body %}
    <h2>Edit Blog Post</h2>
    <form action="/posts/edit/{{  post.id }}" method="POST">
        Title: <input type="text" name="title" value="{{  post.title }}" required>
        <br>
        Author: <input type="text" name="author" value="{{  post.author }}" required>
        <br>
        Post: <textarea name="content">{{  post.content }}</textarea>
        <br>
        <input type="submit" value="Update Post">
    </form>
{% endblock %}